@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.homepageHeaderMainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.homepageHeaderTitleContainer, .homepageHeaderButtonContainer {
    margin: 20px 60px 20px 60px; 
}

.homepageHeaderTitleContainer p{
    font-family: 'Manrope';
    font-size: 25px;
    font-weight: 800;
}

.homepageHeaderTitleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}