@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.newPGEntryFormContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Manrope';
    margin-top: 10px;
    margin-bottom: 20px;
}

.facilities {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
}